@import "~bootstrap/scss/bootstrap.scss";

    .boton {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .rojoOff {
        background-color: #F08080;
    }

    .rojoOn {
        background: red;
        box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.75);
    } 

    .amarilloOff {
        background-color: #D5DF37;
    } 

    .amarilloOn {
        background-color: yellow;
        box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.75);
    } 

    .verdeOff {
        background-color: #3CB371;
    } 

    .verdeOn {
        background-color: #7FFF00;
        box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.75);
    } 
